main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

h1{
    font-family: initial;
}

footer{
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.titulo{
    color: #ec183f;
    text-align: left;
}

p {
        text-align: justify;
        width: 100%;
        justify-content:first baseline;
}

.container{
    padding-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.icone{
       width: 45px;
       padding-bottom: 20px;
}

p footer{
    text-align: center;
}